// Colour Variables

// Primary
$primary: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// Neutral

$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

$neutral-1: $very-light-grayish-blue;
$neutral-2: $light-grayish-blue;
$neutral-3: $grayish-blue;
$neutral-4: $dark-grayish-blue;  

// Typography 

$base-text-size: 15px;
$bold-weight: 700;